apiVersion: v1
kind: Service
metadata:
  name: {{ include "flask-app.fullname" . }}
  labels:
    {{- include "flask-app.labels" . | nindent 4 }}
spec:
  ports:
    - port: 5000
      targetPort: 5000
  selector:
    {{- include "flask-app.selectorLabels" . | nindent 4 }}

